<!DOCTYPE html>
<html lang="sv" ng-app="tidtabellen">
  <head>
    <title>Tidtabellen</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

  	<div class="navbar" role="navigation">
  		<div class="container">
  			<div class="navbar-header">
                <div class="navbar-icons pull-right">
                    <p class="navbar-icon">
                        <i class="fa fa-location-arrow" ng-class="{ 'fa-wobble-z': gettingGeoLocation, 'text-primary': !gettingGeoLocation }"></i>
                    </p>
                </div>
  				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a href="#" class="navbar-brand">
                    <i class="fa fa-bolt"></i> Tidtabellen
                </a>
            </div>
  			<div class="collapse navbar-collapse">
  				<ul class="nav navbar-nav">
  					<li class="active">
  						<a href="#"><i class="fa user"></i></a>
  					</li>
  				</ul>
  			</div>
  		</div>
  	</div>

    <div ng-Controller="SiteListCtrl" class="container">

        <!-- alert message -->
        <div class="alert alert-warning alert-dismissable" ng-show="alertMessage">
            <button type="button" class="close" ng-click="closeAlert()" aria-hidden="true">&times;</button>
            <strong>{{ alertHeading }}</strong> {{ alertMessage }}
        </div>

        <!-- primary panel -->
        <div class="panel panel-primary" ng-hide="trips">
            <div class="panel-heading">
                <form class="form-inline" role="form" ng-submit="searchSites()">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h5 ng-hide="sites">
                                <i class="fa fa-wheelchair"></i>
                                Where do you want to roll today?
                                <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
                            </h5>
                            <a href="#" ng-click="cleanSites()" ng-show="sites">Rensa sökning</a>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="input-group">
                                <input type="text" required="required" class="form-control panel-input-muted" placeholder="Sök hållplats" ng-model="siteSearchQuery" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary" type="button">
                                    <i class="fa fa-search" ng-class="{ 'fa-spin': isSearching, 'fa-spinner': isSearching }"></i>
                                </button>
                            </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- List favorite stations -->
            <ul class="list-group" ng-repeat="site in savedSites" ng-hide="sites">
                <li class="list-group-item">
                    <a href="#" ng-click="getTrips(site.Number)"> {{ site.Name }} </a>
                    <div class="panel-icons">
                        <a href="#" ng-click="getDepartures(site.Number, site.Name)" title="Visa avgångar"><i class="fa fa-calendar"></i></a>
                        <a href="#" ng-click="removeFavoriteStation(site.Number)" title="Ta bort"><i class="fa fa-trash-o"></i></a>
                    </div>
                </li>
            </ul>

            <!-- List found stations -->
            <ul class="list-group" ng-repeat="site in sites">
                <li class="list-group-item">
                    <a href="#" ng-click="getTrips(site.Number)"> {{ site.Name }} </a>
                    <div class="panel-icons">
                        <a href="#" ng-click="saveFavoriteStation(site)" title="Spara favorit">
                            <i class="fa fa-star pull-right" ng-class="{ 'text-success': site.favorite }"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <!-- panel: trips -->
        <div class="panel panel-default" ng-show="trips">
            <div class="panel-heading">
                <div class="panel-icons pull-left">
                    <a href="#" data-toggle="collapse" data-target="#tripsTable"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="panel-icons">
                    <a href="#" ng-click="refreshTrips()" title="Ladda om listan"><i class="fa fa-refresh"></i></a>
                    <a href="#" ng-click="clearTrips()" title="Rensa listan"><i class="fa fa-trash-o"></i></a>
                </div>
                <a href="#" ng-click="clearTrips()"><i class="fa fa-arrow-circle-o-left"></i> Tillbaka</a>
            </div>

            <!-- list trips -->
            <div class="table-responsive in" id="tripsTable">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Från</th><th>Till</th><th>Avgår</th><th>Framme</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="trip in trips">
                        <td><a href="#" title="Visa avgångar" ng-click="getDeparturesForSite(trip.from)">{{ trip.from }}</a></td>
                        <td><a href="#" title="Visa avgångar" ng-click="getDepartures(trip.toId, trip.to)">{{ trip.to }}</a> <span ng-show="trip.via">(via {{ trip.via }})</span></td>
                        <td>{{ trip.departureTime }}</td>
                        <td>{{ trip.arrivalTime }} ({{ trip.duration }})</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- panel: departures from station -->
        <div class="panel panel-default" ng-show="departureStation">
            <div class="panel-heading">
                <div class="panel-icons pull-left">
                    <a href="#" data-toggle="collapse" data-target="#departureTable"><i class="fa fa-chevron-down"></i></a>
                </div>
                <div class="panel-icons">
                    <a href="#" ng-click="refreshDepartures()" title="Ladda om listan" ng-show="departureSideId"><i class="fa fa-refresh"></i></a>
                    <a href="#" ng-click="clearDepartures()" title="Rensa listan"><i class="fa fa-trash-o"></i></a>
                </div>
                Avgångar från {{ departureStation }}
                <i class="fa fa-clock-o" data-toggle="tooltip" title="{{ departureSearchTimeAgo }}"></i>
            </div>

            <!-- list departures-->
            <div class="table-responsive in" id="departureTable">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Linje</th><th>Mot</th><th>Avgår om</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="departure in departures">
                        <td>
                            <i class="fa fa-fw {{ departure.iconClass }}" title="{{ departure.transport }}"></i>
                            {{ departure.line }}
                        </td>
                        <td>{{ departure.destination }}</td>
                        <td>{{ departure.when }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
  	</div>

	<hr>
	<footer>
		<div class="container">
			&copy; tidtabellen - 2013
		</div>
	</footer>

    <script src="js/tidtabellen.js"></script>
  </body>
</html>