<!DOCTYPE html>
<html lang="sv" ng-app="tidtabellen">
  <head>
    <title>Tidtabellen</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  	<div class="navbar navbar-inverse" role="navigation">
  		<div class="container">
  			<div class="navbar-header">
  				<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
  					<span class="sr-only">Toggle navigation</span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a href="#" class="navbar-brand">Tidtabellen</a>
  			</div>
  			<div class="collapse navbar-collapse">
  				<ul class="nav navbar-nav">
  					<li class="active">
  						<a href="#">Home</a>
  					</li>
  				</ul>
  				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Filter table" ng-model="query">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
  			</div>
  		</div>
  	</div>
  	<div class="container">
  		<header>
			<h1>Tidtabellen {{ 1 + 2}}</h1>
			<p class="lead">Din resa</p>
		</header>

		<form id="departureSearch" class="form-inline" role="form" ng-Controller="SiteListCtrl">
			<div class="form-group">
				<label for="siteSearch" class="sr-only">Sök hållplats</label>
				<input id="siteSearch" type="text" class="form-control" placeholder="Sök hållplats" ng-model="siteSearchQuery">
			</div>
			<div class="form-group">
				<label for="siteFromSelect" class="sr-only"></label>
				<select class="form-control" id="siteSelection" ng-model="chosenSite">
					<option value="{{ site.Number }}" ng-repeat="site in sites">{{ site.Name }}</option>
				</select>
			</div>
			<button class="js-disp-departures btn btn-default">Visa avgångar</button>
			<a href="#" class="js-save-favorite-station">Spara favoritstation</a>
		</form>

		<div class="table-responsive" ng-Controller="DepartureListCtrl">
			<table id="resultTable" class="table table-striped">
				<thead>
					<tr>
						<th>Linje</th><th>Mot</th><th>Avgår om</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="departure in departures | filter:query">
						<td>{{ departure.LineNumber }}</td><td>{{ departure.Destination }}</td><td>{{ departure.DisplayTime }}</td>
					</tr>
				</tbody>
			</table>
		</div>
  	</div>

	<hr>
	<footer>
		<div class="container">
			&copy; tidtabellen - 2013
		</div>
	</footer>

    <script src="js/tidtabellen.js"></script>
  </body>
</html>